* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "system-ui";
    color: white;
    /*font-family: "Inter";*/
    /*font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";*/
}



:root {
    --black-1: #000;
    --black-2: #242424;
    --black-3: #222222;
    /* negro sobre negro 1  */
    --grey: #555;
    --grey-2: #9C9C9C;
    /* grey sobre black 2  */
    --heigth-header: 3.5rem;
}

html {
    height: calc(100vh -2rem);
    /* height: calc(100% - 2rem); */
    width: 100%;
    /* min-height: 100dvh; */
    overflow: auto;
    /* padding: 1rem; */
    background-color: red;
    display: flex;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

body {
    width: 100%;
    min-height: 100dvh;

    background-color: var(--black-1);
    display: grid;
    grid-template-columns: 13rem auto;
    padding: 1rem;
    position: relative;
    /* display: flex; */
    /* background-color: red; */
}

/* .Principal_Aside {
    background-color: #90ddf0;
    position: relative;
    &>.Aside_Container {
        position: sticky;
        top:0px;
        display: grid;
        grid-template-rows: var(--heigth-header) auto;

        &>header {
            background-color: red;
        }
    }
} */


.Principal_Aside {
    background-color: #90ddf0;
    width: 100%;
    height: 100%;
    &>.Aside_Container{
        /* height: 100%;
        width: 100%; */
        position: sticky;
        top:0px;
        display: grid;
        grid-template-rows: var(--heigth-header) auto;

        &>header {
            background-color: red;
        }
    }
        
   
} 

.Principal_Main {
    background-color: #ffa69e;
    

    &>header {
        backdrop-filter: blur(5px);
        position: sticky;
        top: 0px;
        height: var(--heigth-header);
        animation: adjust-header linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }
    &>section{
        padding: 1rem;
    }

}

@keyframes adjust-header {
    to {
        background-color: rgba(0, 0, 0, .3);
        font-size: 12px;

        border-radius: 0;
    }
}

@media (width <900px) {
    body{
        background-color: blue;
        grid-template-columns: 0rem auto;
    }
    .Principal_Aside {
       
        &>.Aside_Container {
            position: unset;
      
        }
    }
    

    /* .Principal_Aside {
       
            position: unset;
      
    }  */
}