* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "system-ui";
    /* color: white; */

}

body {
    overflow: hidden;
}

.Principal_Container {
    min-height: 100vh;
    /* background-color: #9FCC2E; */
    background-color: #fff;

    width: 100%;
    display: grid;
    grid-template-rows: 72px 1fr;

    &>header {
        height: 100%;
        /* background-color: orange; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;

        &>img {
            height: 100%;
        }
    }

    &>.Principal_Container_Div {
        /* background-color: #fff; */
        display: grid;
        grid-template-columns: 480px 1fr;
        justify-items: center;
        align-items: center;
        transition: grid-template-columns 250ms cubic-bezier(0.4, 0, 0.2, 1);
        ;

        &>nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            overflow: hidden;
            width: 100%;
            height: 100%;

            &>h3 {
                font-size: 2rem;
            }

            &>img {
                width: 100%;
                object-fit: fill;
            }
        }

        &>main {
            width: 100%;
            height: 100%;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;

        }
    }


}

.Form_Container {
    max-width: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 1rem;

    &>div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;

        &>h3 {
            font-weight: 400;
        }
    }
    &>.Button_Base{
        margin: 1rem 0rem;
    }
    &>.news {
        font-size: 1rem;
        padding: 0rem 0rem 1rem 0rem;
        &>span {
            display: flex;
            gap: 1rem;
            &>a {
                font-weight: 500;

                text-decoration: none;
                /* color: #A0E000; */
                color: #43E000;
                /* color: #9fcc2e; */
            }

        }
    }

    &>footer {
        /* outline: 1px red solid; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        gap: 1rem;

        &>a {
            /* background-color: #b0c4cc; */
            color: #fff;
            font-weight: 500;
            text-decoration: none;
            /* background-color: #717171; */

            /* background-color: #a7a7a7; */
            background-color: #c5c5c5;
            padding: 0.5rem 1rem;
            border-radius: 8px;
            display: flex;
            gap: 1rem;
            &:hover{
                background-color: #e1e1e1;
            }
        }
    }
}



@media (width <900px) {
    .Principal_Container {
        &>.Principal_Container_Div {
            grid-template-columns: 0px 1fr;
            transition: grid-template-columns 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &>main {

                justify-content: flex-start;


            }
        }
    }


}