* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "system-ui";
    /* color: white; */

}



:root {
    /* --black-1: #000; */
    --black-1: #141a21;
    --black-2: #242424;
    --black-3: #222222;
    --verde-1: #1C252E;
    /* negro sobre negro 1  */
    --grey: #555;
    --grey-2: #9C9C9C;
    /* grey sobre black 2  */
    --heigth-header: 75px;
    --wid-aside: 18rem;
    --paddin-pruebas: 0rem;


}

html {
    background-color: #000;
    min-height: 100vh;
    padding: var(--paddin-pruebas);
    width: 100%;
    /* padding: 1rem; */
    
    
}

body {
    background-color: red;
    /* min-height:  calc(100vh - 2rem); */
    min-height:  calc(100vh);
    display: flex;
    /* height: 100%; */
    width: 100%;
}

.Body_Container {
    min-height: 100%;
    width: 100%;
    /* display: flex; */
    display:flex;

}
.Principal_Aside{
    width: 13rem;
    /* overflow-x: hidden; */
    transition: width 0.3s ease-in-out;
    background-color: rebeccapurple;
    display: grid;
    grid-template-rows: var(--heigth-header) 1fr;
}
.Principal_Main{
    width: 100%;
    background-color: sienna;

    color: white;
    &>header {
        backdrop-filter: blur(6px);
        background-color: transparent;
        position: sticky;
        top: 0px;
        height: var(--heigth-header);
        animation: adjust-header linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
        padding: 1rem;
        display: grid;
        grid-template-columns: auto 1fr;
        justify-items: center;
    }

    &>section {
        padding: 1rem;
    }
    
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.cambio_ancho{
    width: 0rem;
}


/* .cambio_ancho_2{
    width: 13rem;
} */
@media (width <900px) {
   .Principal_Aside{
    width: 0rem;
    transition: width 0.3s ease-in-out;
   }
   .cambio_ancho_2{
    width: 13rem;
        position: absolute;
        height: 100%;
        z-index: 1000;
}

}
@keyframes adjust-header {
    to {
        background-color: rgba(0, 0, 0, .3);
        font-size: 12px;

        border-radius: 0;
    }
}
