.Principal_Nav_Container{
    background-color: #242424;
    width: 100%;
    height: 100%;
    position: fixed;
}

/* .Principal_Nav{
    &>header{
        backdrop-filter: blur(5px);
        position: sticky;
        top: 0px;
        height: var(--heigth-header);
        animation: adjust-header linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }
} */

/* @media (width <900px) {

    .Principal_Nav_Container{
        width: 18rem;
    }

} */

