* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "system-ui";
    color: white;

}

:root {
    --nav-width: 18rem;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.Principal_Container {
    min-height: 100vh;
    /* background-color: #9FCC2E; */
    background-color: #000;
    display: flex;
    width: 100%;

}

.Principal_Nav {
    width: var(--nav-width);
    background-color:red; 
    /* rgb(35 35 35 / 0.5); */
    transition: width 0.3s ease-in-out;
    /* overflow-x: hidden; */
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.Principal_Main {
    width: calc(100% - var(--nav-width));

    /* background-color: #222222; */
    transition: width 0.3s ease-in-out;
    padding: 1rem;

}




.Principal_Nav.cambio {   
    width: 0rem;
}

.Principal_Nav.cambio+.Principal_Main {
    
    width: 100%;
}

.Principal_Nav.cambio_2 + .Principal_Main {
    transition: none;
}


@media (width <900px) {
    .Principal_Nav{
        position: fixed;
        top: 0;
        left: 0;    
        width: 0rem;
        height: 100%;
        z-index: 10;
        /* transition: none; */
    }
    .Principal_Main{
        width: 100%;
        transition: none;
        /* transition: width 0.3s ease-in-out; */
    }
    .cambio_2 {
        width: 100%;
        transition: none; 
        /* &>.Principal_Nav_Container{
            backdrop-filter: blur(6px);
            width: 18rem;
            transition: width 0.3s ease-in-out;
        } */
         &>.Principal_Nav_Container{
            width: 18rem;
            /* transition: width 0.3s ease-in-out; */
         }

    }

}





.Principal_Main {
    /* background-color: #ffa69e; */
    /* min-height: 100vh; */

    &>header {
        backdrop-filter: blur(5px);
        position: sticky;
        top: 0px;
        height: var(--heigth-header);
        animation: adjust-header linear both;
        animation-timeline: scroll();
        animation-range: 0 100px;
    }
  
}

@keyframes adjust-header {
    to {
        background-color: rgba(0, 0, 0, .3);
        font-size: 12px;

        border-radius: 0;
    }
}

